$primary-1: #032030;
$primary-2: #0c5a83; // used in falling-stars graphic (accent-blue at its lowest alpha point)

$primary-secondary-bridge: #045e8b; // bridge between primary-1 and secondary-1

$secondary-1: #0099e6; // -10% luminance of accent-blue (accent-blue made a little darker)
$secondary-2: #4dc3ff; // +10% luminance of accent-blue (accent-blue made a little lighter)

$accent-blue: #1ab2ff; // used in falling-stars graphic
$accent-cyan: #33ddff; // used in falling-stars graphic
