@import '../../../styles/colors';

.showcase__card {
  position: relative;
  width: 21.154%; // 4 cards in each row
  margin: 1.923%;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.02);
  }

  &:hover .card__codetag {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:hover .card__title::after {
    transform: scaleX(1);
  }
}

.card__codetag {
  font-size: 1rem;
  width: fit-content;
  position: absolute;
  top: 0.75em;
  right: 0.7em;
  margin: 0;
  opacity: 0;
}

.card__content {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5%;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.9) 100%);
}

.card__title {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 1.5rem;
  color: white;

  &::after {
    position: absolute;
    content: '';
    width: 150%;
    height: 3px;
    left: -50%;
    bottom: -5px;
    background-color: $accent-blue;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
  }
}

// media queries

@media screen and (max-width: 3200px) {
  .card__title {
    font-size: 1.25rem;
  }
  .card__codetag {
    font-size: 0.8125rem;
  }
}

@media screen and (max-width: 2600px) {
  .card__title {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 2400px) {
  .showcase__card {
    width: 29.4873%; // 3 cards in each row
  }
  .card__title {
    font-size: 1.25rem;
  }
  .card__codetag {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1800px) {
  .card__title {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 1220px) {
  .card__title {
    font-size: 1rem;
  }
  .card__codetag {
    font-size: 0.675rem;
  }
}

@media screen and (max-width: 960px) {
  .showcase__card {
    width: 46.154%; // 2 cards in each row
  }
}

@media screen and (max-width: 620px) {
  .card__title {
    font-size: 0.875rem;
  }
  .card__codetag {
    font-size: 0.6rem;
    opacity: 1;
  }
}

@media screen and (max-width: 540px) {
  .showcase__card {
    width: 92.308%; // 1 card in each row+
    margin: 3.846%;
  }
  .card__title {
    font-size: 1rem;
  }
}
