@import '@/styles/colors';
@import '@/styles/sizes';

.project {
  padding-top: $gutter;
  background-color: white;
  font-family: 'Raleway';
  color: $primary-1;
}

.backlink {
  width: fit-content;
  display: flex;
  align-items: center;
  padding-left: 4%;
  color: $secondary-1;
  text-decoration: none;
  font-size: 1.5rem;

  &:hover > svg {
    transform: translateX(-0.3em);

    > path {
      stroke: $secondary-2;
    }
  }

  > svg {
    height: 0.7em;
    transition: transform 0.5s ease;

    > path {
      stroke: $secondary-1;
      stroke-width: 2px;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
  }
}

.languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1.5em;
  font-size: 0.675em;
  font-weight: 500;
}

.info {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.75em;
  font-weight: 500;

  > a {
    width: fit-content;
    margin: 0.25em 0.375em;
    padding: 0.375em 0.5em;
    //border-width: 1px;
    //border-style: solid;
    //border-radius: 1em;

    &:hover {
      transform: scaleX(1.06);
      transform-origin: center;
    }
  }
}

// media queries

@media screen and (max-width: 3200px) {
  .backlink {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 2400px) {
  .backlink {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 1220px) {
  .backlink {
    font-size: 1rem;
  }
}

@media screen and (max-width: 620px) {
  .backlink {
    font-size: 0.875rem;
  }
}
