@import '@/styles/colors';

.message {
  width: 100%;
  margin: 0;
  padding: 5% 0;
  color: $primary-1;
  text-align: center;
  font-size: 1.5rem;
}

.problem {
  width: 100%;
  font-size: 1.5rem;
  line-height: 140%;
}

.table {
  width: 100%;
  color: $primary-secondary-bridge;
  vertical-align: middle;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;

  th {
    font-weight: 600;
    text-align: left;
    padding-bottom: 0.2em;
  }

  td {
    text-align: left;

    &:nth-child(2),
    &:nth-child(3) {
      font-family: 'Open Sans';
    }
  }
}

@media screen and (max-width: 3200px) {
  .message {
    font-size: 1.25rem;
  }
  .problem {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 2400px) {
  .problem {
    font-size: 1.125rem;
  }
  .message {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 1220px) {
  .problem {
    font-size: 1rem;
  }
  .message {
    font-size: 1rem;
  }
}

@media screen and (max-width: 620px) {
  .problem {
    font-size: 0.875rem;
  }
  .message {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 440px) {
  .problem {
    font-size: 0.75rem;
  }
  .message {
    font-size: 0.75rem;
  }
}
